
@{
    ViewBag.Title = "Employee Details";
}
<div class="tab-content">
    <h1>
        There is no id to display
    </h1>
</div>
<div class="card-footer align-text-top">
    <a href="@Url.Action("Index","Home")"class="btn btn-primary">Back To Home</a>
</div>