@model HomeDetailsViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Employee</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data" method="post" class="mt-3">
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-bg-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="department">Department : </label><br />
                <select asp-for="department" asp-items="Html.GetEnumSelectList<DepartmentSet>()">
                    <option value="">Select</option>
                </select>
                <span asp-validation-for="department" class="text-bg-danger"></span><br />
            </div>
            <div class="form-group">
                <label asp-for="Home" class="control-label"></label>
                <input asp-for="Home" class="form-control" />
                <span asp-validation-for="Home" class="text-bg-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MailId" class="control-label"></label>
                <input asp-for="MailId" class="form-control" />
                <span asp-validation-for="MailId" class="text-bg-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-bg-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProfileImage" class="control-label">Image : </label>
                <input asp-for="ProfileImage" type="file" class="custom-file-input form-control">
                <span asp-validation-for="ProfileImage" class="text-bg-danger"></span><br />
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts{
    <script type="text/javascript">
        $(".custom-file-input").on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });
    </script>
}
