@{ 
    ViewBag.Title = "Home Page";
}
<h1>
    Employee Management
</h1>
<div class="container">
    <a href="@Url.Action("Register","Home")" class="btn btn-primary">Register</a>
    <a href="@Url.Action("ViewDetails","Home")" class="btn btn-primary">View Details</a>
</div>