@model Employees.ViewModels.HomeDetailsViewModel
@{
    ViewBag.Title = "Register";
}

<h1 style="text-align:center;height:stretch">@ViewBag.Title</h1>

<form asp-action="Register" asp-controller="Home" method="post" class="mt-3" enctype="multipart/form-data">
    <div style="padding-left:390px">
        <table style="border:thick,solid;border-color:black;background-color:white;font-weight:bold">
            <tr>
                <td>
                    <label asp-for="Name">Name : </label>
                </td>
                <td>
                    <input asp-for="Name" placeholder="Enter your name" /><br />
                </td>
            </tr>
            <tr>
                <td>
                    <label asp-for="department">Department : </label>
                </td>
                <td>
                    <select asp-for="department" asp-items="Html.GetEnumSelectList<DepartmentSet>()">
                        <option value="">Select</option>
                    </select>
                    <br />
                </td>
            </tr>
            <tr>
                <td>
                    <label asp-for="Home">City : </label>
                </td>
                <td>
                    <input asp-for="Home" placeholder="Enter your city" /><br />
                </td>
            </tr>
            <tr>
                <td>
                    <label asp-for="MailId">Mail ID : </label>
                </td>
                <td>
                    <input asp-for="MailId" placeholder="Enter your mailid" /><br />
                </td>
            </tr>
            <tr>
                <td>
                    <label asp-for="PhoneNumber">Phone Number : </label>
                </td>
                <td>
                    <input asp-for="PhoneNumber" placeholder="Enter your phone number" /><br />
                </td>
            </tr>
            <tr>
                <td>
                    <label asp-for="ProfileImage">Image : </label>
                </td>
                <td>
                    <input asp-for="ProfileImage" class="custom-file-input" id="customFile">
                </td>
            </tr>
        </table>
    </div>
    <br />
    <div style="text-align:center">
        <span asp-validation-for="Name" class="text-bg-danger"></span><br />
        <span asp-validation-for="Home" class="text-bg-danger"></span><br />
        <span asp-validation-for="MailId" class="text-bg-danger"></span><br />
        <span asp-validation-for="PhoneNumber" class="text-bg-danger"></span><br />
        <span asp-validation-for="ProfileImage" class="text-bg-danger"></span><br />
        <span asp-validation-for="department" class="text-bg-danger"></span><br />
    </div>
    <div class="text-center" style="text-align: center; width: stretch; height:stretch">
        <br />
        <br />
        <input class="btn btn-dark btn-outline-success" type="submit" />
        <a href="@Url.Action("Index","Home")" class="btn btn-dark btn-outline-success">Home</a>
        <br />
        <br />
        <h4 style="text-align:center">
            Contact : <a href="https://www.office.com/">frontoffice@syncfusion.com</a>
        </h4>
        <br />
        <br />
    </div>
</form>
