@model IEnumerable<Department>
@{ 
    ViewBag.Title = "Departments";
}
<h1>
    All Departments
</h1>
<div class="card-deck card m-3">
    @foreach (var department in Model)
    {
        <ul>
            <li><a href="@Url.Action("ViewDepartment","Home",department)">@department.Name</a></li>
        </ul>
    }
</div>
<div class="text-center">
    <a href="@Url.Action("Index","Home")" class="btn btn-dark btn-outline-success">Home</a>
</div>